.App {
  text-align: center;
}
.button {
  width: 40%;
  height: 60px;
  margin: 50vh auto;
  font-size: 20px;
  border-radius: 7px;
  box-shadow: 3px 10px 10px 3px rgb(231, 231, 231);
}

.button:hover {
  box-shadow: 5px 5px 5px 6px rgb(211, 211, 211);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
